.description-footer {
  margin-top: 30px;
}
.offer-box {
  background-color: #422f28;
  position: relative;
  /*top:260px;
    left:40px;*/

  border: 2px solid #b1997f;
  width: 140px;
  height: 132px;
  color: #b1997f;
  float: right;
  margin-right: 50px;
  margin-top: 50px;
}
.offer-box p {
  margin-top: 45%;
  margin-left: 10%;
  color: #b1997f;
}
.offer-text {
  width: 100%;
  color: #fefefe;
  float: left;
  padding: 10px;
}
.offer-text-odd {
  background: #b8a182;
}
.offer-item-image {
  height: 40px;
  max-width: 60px;
  margin-right: 20px;
  float: right;
}
.active {
  background-color: #ff6a00;
  opacity: 0.7;
  filter: alpha(opacity=40);
}
.active p {
  color: white;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #fefefe;
}
.company-promotions2 {
  width: 665px;
  background-color: #422f28;
}
.company-promotions2 .promotions-box {
  position: relative;
  top: 260px;
  left: 40px;
  border: 2px solid #b1997f;
  width: 140px;
  height: 132px;
  color: #b1997f;
}
.company-promotions2 .promotions-box p {
  margin-top: 45%;
  margin-left: 10%;
  color: #b1997f;
}
.company-offer2 {
  width: 673px;
  color: #fefefe;
  float: right;
}
.company-offer2 h1 {
  font-size: 30px;
}
.company-offer2 a {
  color: #fefefe;
  text-decoration: none;
}
.layout-part3 {
  height: 424px;
  width: 60%;
  float: left;
}
.layout-part4 {
  width: 40%;
  height: 424px;
  float: left;
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .layout-part3 {
    width: 50%;
  }
  .layout-part4 {
    width: 50%;
  }
  .offer-item-image {
    margin-right: 10px;
  }
  .offer-box {
    margin-right: 50px;
    margin-top: 50px;
  }
  .company-offer2 {
    width: 580px;
  }
}
@media (min-width: 870px) and (max-width: 1200px) {
  .layout-part3 {
    width: 35%;
  }
  .layout-part4 {
    width: 65%;
  }
  .offer-box {
    margin-right: 10px;
    margin-top: 8px;
  }
  .company-offer2 {
    width: 300px;
  }
  .offer-item-image {
    margin-right: 0px;
  }
}
@media (min-width: 100px) and (max-width: 950px) {
  .layout-part3 {
    margin-top: 10px;
    width: 100%;
    float: left;
    min-height: 150px;
    height: 100%;
  }
  .company-offer2 {
    width: 100%;
    height: 100%;
  }
  .layout-part4 {
    width: 100%;
    float: left;
    height: 100%;
  }
}
