/* index/home*/
/*#home-front-image {
    margin-left:5%;
background:url('/Images/FrontPageImage.jpg')no-repeat;
width:65%;
  height:424px;
  float:left;
}*/
/* index/home*/
h1 {
  font-weight: bold;
  margin-top: 20.1px;
  margin-bottom: 20.1px;
}
.layout-part1 {
  height: 424px;
  width: 60%;
  float: left;
}
.layout-part2 {
  height: 424px;
  width: 40%;
  float: left;
}
.img-max-size {
  max-height: 424px;
}
@media (min-width: 870px) and (max-width: 1150px) {
  .layout-part1 {
    width: 78%;
  }
  .layout-part2 {
    max-width: 22%;
  }
  .col-md-padding {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 870px) {
  .layout-part1 {
    width: 100%;
  }
  .layout-part2 {
    width: 100%;
  }
  .col-md-padding {
    padding-left: 5px;
    padding-right: 5px;
  }
}
/* part 1 */
.box {
  width: 718px;
}
.company-promotions a {
  text-decoration: none;
}
@media (min-width: 20px) and (max-width: 950px) {
  body {
    width: 950px;
  }
  html {
    width: 950px;
  }
}
.company-description {
  width: 250px;
  text-align: center;
}
.company-description h1 {
  margin-top: 40px;
  font-size: 30px;
  color: #fefefe;
}
.company-description p {
  margin-top: 30px;
  font-size: 14px;
  color: #fefefe;
}
.company-offer {
  width: 673px;
  color: #fefefe;
  float: right;
}
.company-offer h1 {
  font-size: 30px;
}
.company-offer a {
  color: #fefefe;
  text-decoration: none;
}
.side-gradient {
  background: #8f6c58;
  /* Old browsers */

  background: -moz-linear-gradient(-45deg, #8f6c58 0%, #b8a182 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #8f6c58), color-stop(100%, #b8a182));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(-45deg, #8f6c58 0%, #b8a182 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(-45deg, #8f6c58 0%, #b8a182 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(-45deg, #8f6c58 0%, #b8a182 100%);
  /* IE10+ */

  background: linear-gradient(135deg, #8f6c58 0%, #b8a182 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f6c58', endColorstr='#b8a182', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
/* end part 1 */
/* part 2 */
.company-promotions {
  background-color: #422f28;
}
.company-promotions .promotions-box {
  position: relative;
  top: 260px;
  left: 40px;
  border: 2px solid #b1997f;
  width: 140px;
  height: 132px;
  color: #b1997f;
}
.company-promotions .promotions-box p {
  margin-top: 45%;
  margin-left: 10%;
  color: #b1997f;
}
#loreal-logo {
  background: url('/Images/salonexpert.PNG') no-repeat;
  height: 184px;
  position: relative;
  top: 30px;
  margin-left: 30px;
}
/* end part 2 */
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xs-13,
.col-sm-13,
.col-md-13,
.col-lg-13,
.col-xs-14,
.col-sm-14,
.col-md-14,
.col-lg-14,
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xs-16,
.col-sm-16,
.col-md-16,
.col-lg-16,
.col-xs-17,
.col-sm-17,
.col-md-17,
.col-lg-17,
.col-xs-18,
.col-sm-18,
.col-md-18,
.col-lg-18,
.col-xs-19,
.col-sm-19,
.col-md-19,
.col-lg-19,
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20,
.col-xs-21,
.col-sm-21,
.col-md-21,
.col-lg-21,
.col-xs-22,
.col-sm-22,
.col-md-22,
.col-lg-22,
.col-xs-23,
.col-sm-23,
.col-md-23,
.col-lg-23,
.col-xs-24,
.col-sm-24,
.col-md-24,
.col-lg-24 {
  padding-left: 0px;
  padding-right: 0px;
}
.col-md-padding {
  padding-left: 15px;
  padding-right: 15px;
}
.bold {
  font-weight: bold;
}
.separator {
  height: 25px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
