﻿.slide-reveal.ng-enter {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0.5;
  position:relative;
  opacity:0;
  top:10px;
}

.slide-reveal.ng-enter.ng-enter-active {
  top:0;
  opacity:1;
}


.animate-repeat.ng-enter {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0.5;
  position:relative;
  opacity:0;
}

.animate-repeat.ng-enter.ng-enter-active {
  top:0;
  opacity:1;
}