﻿html {
  background: url('/Images/background.jpg');
}
body {
  background: url('/Images/background.jpg');
}
#top-box {
  height: 30px;
}
#navbar {
  text-align: center;
}
#navbar li {
  display: inline;
  font-size: 25px;
  margin-right: 20px;
}
#logo {
  width: 10%;
  height: 10%;
}
#navbar a {
  text-decoration: none;
  color: #d8d8d8;
}
@media only screen and (max-width: 1200px) {
  #navbar li {
    display: inline;
    font-size: 15px;
    margin-right: 20px;
  }
}
/*# sourceMappingURL=menu.css.map */