﻿@logoWidth: 423px;
@pageDescriptionWidth: 250px;
@aboutOfferWidth: @logoWidth + @pageDescriptionWidth;

.description-footer {
    margin-top: 30px;
}

.offer-text {
    width:100%;
    color:#fefefe;
    float:left;
    padding:10px;
}
.offer-text-odd{
    background:#b8a182;
}

.offer-item-image {
    height: 40px;
    max-width: 60px;
    margin-right: 20px;
    float:right;
}

.active{
    background-color: #ff6a00;
    opacity:0.7;
    filter:alpha(opacity=40);
     p{
         color:white;
     }
}
a:hover, a:focus{
    text-decoration: none;
color: #fefefe;
}

.offer-box{
    background-color:#422f28;
    position:relative;
    /*top:260px;
    left:40px;*/
    border:2px solid #b1997f;
    width:125px;
    height:122px;
    color:#b1997f;
    float: right;
    margin-right: 20px;
    margin-top: 20px;

    p{
        margin-top:45%;
        margin-left:10%;
        color:#b1997f;
    }
}

.offer-layout {
    max-height: 360px;
    overflow: auto;
}
.offer-layout2 {
    height: 360px;
}
@media (min-width: 1200px) and (max-width: 1550px ) {
    .offer-box{
        margin-right: 10px;
        margin-top: 8px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px ) {
    .offer-item-image {
        margin-right: 10px;
    }
}
@media (min-width: 0px) and (max-width: 1200px ) {
    .offer-box{
        margin-right: 10px;
        margin-top: 8px;
        width:130px;
        height:122px;
    }
    
    .offer-item-image { 
        margin-right: 0px;
    }
}

