﻿.rowTable {
    display: table;
}

.rowTable > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}


.clear-padding{
    padding-left: 0;
    padding-right: 0;
}

h1 {
font-weight: bold;
margin-top:20.1px;
margin-bottom:20.1px;
}

@logoWidth: 423px;
@pageDescriptionWidth: 250px;
@aboutOfferWidth: @logoWidth + @pageDescriptionWidth;
@padding: 15px;
/* part 1 */
.box{
    width: @aboutOfferWidth + 3* @padding;
}
.company-promotions a {
text-decoration:none;
}

.company-description {
    text-align: center;
    h1 {
        margin-top:40px;    
        font-size:30px;
        color:#fefefe;
    }
    p {
        margin-top:30px;
        font-size:14px;
        color:#fefefe;
    }
}

.image {
    min-width: 350px;
    max-height: 420px;
}

.company-offer {
    color:#fefefe;
    min-height: 350px;
    //float: right;

    h1{
        font-size:30px;
    }
    a {
        color:#fefefe;
        text-decoration:none;
    }
}

.side-gradient{
    background: #8f6c58; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #8f6c58 0%, #b8a182 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#8f6c58), color-stop(100%,#b8a182)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #8f6c58 0%,#b8a182 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #8f6c58 0%,#b8a182 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #8f6c58 0%,#b8a182 100%); /* IE10+ */
    background: linear-gradient(135deg, #8f6c58 0%,#b8a182 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f6c58', endColorstr='#b8a182',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* end part 1 */


/* part 2 */

.company-promotions {
    background-color:#422f28;
    .promotions-box{
        position:absolute;
        bottom: 15px;
        border:2px solid #b1997f;
        width:140px;
        height:132px;
        color:#b1997f;
        p{
            margin-top:45%;
            margin-left:10%;
            color:#b1997f;
        }
    }
}

#loreal-logo{
    background:url('/Images/salonexpert.PNG') no-repeat;
    height: 184px;
    position: relative;
    top: 10px;
    left: -5px;
}

.bold{
    font-weight: bold;
}
.separator{
    height:25px;
}
