﻿<div class="row rowTable">
    <div class="col-md-12 col-sm-20 col-xs-20">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-11">
				<img class="img-responsive image" src="/Images/FrontPageImage.jpg">
            </div>
            <div class="col-xs-7 company-description">
                <h1>Pracownia Fryzjerska Inna</h1>
                <p>W naszym Salonie zmienisz swój wizerunek, odnajdziesz spokój a tym samym poprawisz swoje samopoczucie.</p>
                <p class="bold">Tylko tutaj poczujesz się naprawdę sobą.</p>
            </div>
        </div>
    </div>
    <div class="col-md-8 company-promotions row1-height hidden-sm hidden-xs">
        <a href="#Contact">
            <div class="promotions-box">
                <p>umów się <br /><b>na bezpłatną konsultację.</b></p>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-20 col-xs-20 side-gradient company-offer">
        <div class="col-xs-offset-2 col-xs-18">
            <h1>Oferujemy:</h1>
            <p>bezpłatne porady stylistów między innymi:</p>
            <ul>
                <li>techniki strzyżen,</li>
                <li>kolekcje koloryzacji, </li>
                <li>aktualne trendy, </li>
                <li>profesjonalną pielęgnację włosów,</li>
                <li>indywidualne podejście do klienta, </li>
                <li>miłą atmosferę, </li>
                <li>troskliwe podejście do dzieci, </li>
                <li>profesjonalną obsługę</li>
            </ul>
            <p class="bold">Zapewniamy klientom usługi na najwyższym poziomie.</p>
            <p>
                Zapraszamy do odwiedzenia Pracowni, tu w miłej atmosferze i przyjemnym otoczeniu przy nastrojowej muzyce: zadbamy o twoje włosy, dobierzemy odpowiednią pielęgnację abyś mogła pochwalić się zdrowymi włosami, nowoczesnym kolorem i nowym wizerunkiem.
            </p>
        </div>
    </div>
    <div class="col-md-8 col-sm-20 col-xs-20">
        <a target="salonexpert" href="http://www.salonexpert.pl/strona/Index.aspx&quot;" class="salonexpert">
            <div id="loreal-logo"></div>
        </a>
    </div>
</div>
