﻿<div class="row rowTable">
    <div class="col-md-12 col-sm-20 col-xs-20 clear-padding">
     <iframe style="width:100%; min-height: 400px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="row1-height pull-right"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d640.3553083474786!2d19.96948882727842!3d50.05967242332612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b306e73713f%3A0x20c6c4d067d71899!2sFabryczna+6%2C+Krak%C3%B3w!5e0!3m2!1sen!2spl!4v1481565861413"></iframe>
    </div>
    <div class="col-md-8 company-promotions row1-height hidden-sm hidden-xs">
        <a href="https://www.google.pl/maps/place/Fabryczna+6,+Krak%C3%B3w/@50.0596724,19.9694888,19z/data=!4m5!3m4!1s0x47165b306e73713f:0x20c6c4d067d71899!8m2!3d50.059669!4d19.970036?hl=en">

          <div class="promotions-box">
                <p> Powiększ mape<br /><b> przez Google Maps!</b></p>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-20 col-xs-20 side-gradient company-offer">
        <div class="col-xs-offset-2 col-xs-18">
            <h1>Kontakt:</h1>
            <p>Firma: Pracownia Fryzjerska Inna<br />Adres: ul. Fabryczna 6 lu.5<br />Kod Pocztowy: 31-553 Kraków<br />Telefon: 501 093 433</>
            <p class="bold">Zapraszamy serdecznie!</p>
            <p>Facebook: <a href="https://www.facebook.com/innafryzjer/" target="none"> www.facebook.com/innafryzjer/</a></p>
        </div>
    </div>
    <div class="col-md-8 col-sm-20 col-xs-20">
        <a target="salonexpert" href="http://www.salonexpert.pl/strona/Index.aspx&quot;" class="salonexpert">
            <div id="loreal-logo"></div>
        </a>
    </div>
</div>
