﻿<div class="row">
    <div class="col-md-8 col-sm-20 col-xs-20 offer-layout">
		<a href="" ng-repeat="offer in offers" class="offer-box" ng-click="setSelectedOffer(offer)" ng-class="{'active' : isActive(offer)}">
			<p ng-bind-html="offer.processType"></p>
		</a>
    </div>

	<div class="col-md-12 col-sm-20 col-xs-20 company-promotions clear-padding offer-layout offer-layout2">
		<div class="animate-repeat" ng-repeat="product in selectedOffer.products">
			<a href="" class="offer-text" ng-class-odd="'offer-text-odd'" ng-click="setSelectedProduct(product)" ng-class="{'active' : isActiveProduct(product)}">
				{{product.title}} {{product.description}} {{product.amount}}
				<img class="offer-item-image" ng-src="{{product.src}}" />
			</a>
		</div>
	</div>
</div>

<div class="row rowTable">
    <div class="col-md-8 col-sm-20 col-xs-20 side-gradient company-offer">
        <!--<div class="col-xs-offset-2 col-xs-18">-->
                <div class="animate-repeat">
                    <h1 ng-bind-html="selectedProduct.details.title"></h1>
                    <p ng-bind-html="selectedProduct.details.content"></p>
                    <p class="description-footer">Pracujemy na profesjonalnych środkach<img src="/images/loreal.png" alt="loreal.png">, które dobieramy indywidualnie do potrzeb klientki.</p>
                </div>
        <!--</div>-->
    </div>
    <div class="col-md-12 col-sm-20 col-xs-20">
        <a target="salonexpert" href="http://www.salonexpert.pl/strona/Index.aspx&quot;" class="salonexpert">
            <div id="loreal-logo"></div>
        </a>
    </div>
</div>
