﻿<div class="row rowTable">
    <div class="col-md-12 col-sm-20 col-xs-20">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-11">
				<img class="img-responsive image" src="/Images/voucher final.png">
            </div>
            <div class="col-xs-7 company-description" id="promotion-company-description">
                <h1>Darmowy Voucher</h1>
                <p class="bold">Twoja pierwsza wizyta w naszym atelier?</p>
                <p>Wydrukuj voucher i zgarnij 20% zniżki na dowolną usługę w naszej pracowni.</p>
            </div>
        </div>
    </div>
    <div class="col-md-8 company-promotions row1-height hidden-sm hidden-xs">
        <a href="" onclick="window.print()">
            <div class="promotions-box">
                <p>wydrukuj<br /><b>voucher!</b></p>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-20 col-xs-20 side-gradient company-offer">
        <div class="col-xs-offset-2 col-xs-18">
            <h1>Promocje:</h1>
            <ul>
                <li>Voucher na pierwsza wizytę (szczegóły wyżej)</li>
                <li>Dla stałych klientów oferujemy specjalny program lojalnościowy.<br />Szczegóły programu lojalnościowego : 501 093 433</li>
                <li>Przyjdź ze swoim przyjacielem / przyjaciółką, a otrzymacie 10% rabatu na wszystkie usługi wykonywane w naszym salonie.</li>
                <li>Rabat 15% dla <b>studentów</b> w poniedziałki lub środy na wszystkie usługi w naszej pracowni.</li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 col-sm-20 col-xs-20">
        <a target="salonexpert" href="http://www.salonexpert.pl/strona/Index.aspx&quot;" class="salonexpert">
            <div id="loreal-logo"></div>
        </a>
    </div>
</div>