﻿@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeIndex";
}
@section Scripts{
<script src="~/js/data-service.js"> </script>
<script src="~/js/home-index.js"> </script>

}

<div data-ng-view class="container slide-reveal">
</div>
