﻿<!DOCTYPE html>
<html lang="pl" data-ng-app="@ViewBag.InitModule">
<head>
	<meta charset="utf-8" />
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<base href="/"/>
	<meta name="viewport" content="width=device-width" />
	<meta name="Author" content="Jan Salawa">
	<meta name="title" content="Pracownia Inna, Salon Fryzjerski w Krakowie">
	<title>Pracownia Inna</title>
	<meta name="Description" content="Pracownia Inna, Salon Fryzjerski w Krakowie">
	<meta name="keywords" content="pracownia inna, salon fryzjerski w krakowie, inna fryzjer, inna fryzjer kraków, fryzjernia kraków, salony fryzjerskie Kraków, dobry fryzjer kraków, salon expert loreal, studio fryzur, dobry fryzjer, top fryzjer, salon fryzjerski, twój fryzjer, fryzjerzy pl, fryzura okolicznościowa, prostowanie, strzyżenie dziewcznyki, strzyżenie grzywki, fryzura okolicznościowa, strzyżenie, kuracja w salonie">
	<meta name="google-site-verification" content="kUsq5xrouxgNrl3oYU7QJT6iSOnmSosSICCVZhiwys8" />
	@Styles.Render("~/bundles/css")
</head>

<body>
	@Html.Partial("_Navigation")
	@RenderBody()
	@Scripts.Render("~/bundles/angular")
	@RenderSection("scripts", required: false)
</body>
</html>
