﻿
<ul id="navbar">
    <li class="text-menu-margin" ><a href="#!/O-nas">O nas</a></li>
    <li class="text-menu-margin"><a href="#!/Oferta">Oferta</a></li>
    <li class="text-menu-margin"><img src="/Images/logo.png" alt="logo" id="logo" /></li>
    <li class="text-menu-margin"><a href="#!/Promocje">Promocje</a></li>
    <li class="text-menu-margin"><a href="#!/Kontakt">Kontakt</a></li>
</ul>